@use "global" as *;
.mv{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
}
.mv__inner{
    margin: 0 auto;
    padding-top: 110px;
    &.lower{
        @include mq(sm){
            padding-top: 50px;
    }
        @include mq(m){
            padding-top: 20px;
    }  
}
@include mq(md){
    padding-top: 80px;
}
}
.mv__content{
    height: 848px;
    background-image: url(/img/DSC05491.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 60.25%;
    @media screen and (min-width:1800px){
        height: 648px;
        padding-top: 50.25%;
    }
    @include mq(md){
        height: 748px;
    }
    @include mq(sm){
        height: 648px;
    }
    @include mq(m){
        height: 608px;
    }
}

.mv__content-inner{
    width: 70%;
    display: flex;
justify-content: space-between;
}
.mv__text-wrap{
writing-mode: vertical-rl;
font-family: ヒラギノ明朝 ProN;
font-size: 1.364375rem;
line-height: 1.2913;
color: $brown;
@include mq(xxl){
   font-size: 1.3rem;
 }
@include mq(sm){
   font-size: 1.1rem;
   line-height: 1;
 }
 @include mq(m){
    position: relative;
    left: 100%;
    bottom: 100%;
    font-size: 1rem;
    color: $white;
 }
    
}
.mv__text-right,
.mv__text-center{
    margin-left: 34px;
    @include mq(sm){
      margin-left: 20px;
    }
}
.mv-left{
    position: absolute;
    top: 32%;
    left: 5%;
    @include mq(sm){
        left: 5%;
    }
    @include mq(m){
    top: 50%;
    left: 18%;
    transform: translate(-50%, -20%);
    }
}
.mv-left__img{
    width: 318px;
    height: 202px;
    margin-top: 30px;
    @include mq(xxl){
       width: 200px;
       height: auto;
     }
    @include mq(sm){
       width: 150px;

     }
    @include mq(sm){
       width: 120px;
     }
    @include mq(m){
       margin-top: 0;
     }

}
.mv__title-logo{
    width: 200px;
    height: 185px;
    @include mq(xxl){
        width: 150px;
        height: auto;
     }
    @include mq(m){
        width: 120px;
        height: auto;
     }
}
.mv__title{
    position: absolute;
    top: 19%;
    left: 43%;
    @include mq(xl){
       left: 40%;
    }
    @include mq(xxl){
       left: 45%;
    }
    @include mq(sm){
       left: 35%;
    }
    @include mq(m){
       left: 35%;
    }

}


.mv-right__img-wrap{
    position: absolute;
    top: 10%;
    right: 3%;
    @include mq(sm){
        right: 1%;
    }
    @include mq(m){
        right: 3%;
    }
}

.mv-right__img-top{
position: relative;
width: 110px;
height: auto;
@include mq(md){
    width: 100px;
 }
 @include mq(sm){
   width: 80px;
}
}
.mv-right__text-top{
    position: absolute;
    top: 17%;
    left: 20%;
    color: #E88F8B;
    @include mq(md){
        left: 20%;
    }
    @include mq(sm){
        left: 10%;
    }
}
.mv-right__img-dots-top{
    width: 69px;
    position: absolute;
    top: 28%;
    left: 20%;
    @include mq(md){
        left: 17%;
    }
    @include mq(sm){
        left: 15%;
        width: 60px;
    }
    @include mq(m){
        top: 31%;
    }
    
}
.mv-right__img-bottom-wrap{
    margin-top: 20px;
}
.mv-right__img-bottom{
    position: relative;
    width: 110px;
    height: auto;
    @include mq(md){
        width: 100px;
}
@include mq(sm){
    width: 80px;
 }
}
.mv-right__text-bottom{
    position: absolute;
    top: 70%;
    left: 22%;
    color:#6EAC00;
    @include mq(md){
        left: 18%;
    }
    @include mq(sm){
        top: 72%;
        left: 13%;
    }
}
.mv-right__img-dots-bottom{
    width: 65px;
    position: absolute;
    top: 80%;
    left: 22%;
    @include mq(md){
        left: 19%;
    }
    @include mq(sm){
        top: 82%;
        left: 15%;
        width: 60px;
    }
    @include mq(sm){
        top: 85%;
       
    }
}


// 下層ページ

.mv-about{
    height: 463px;
    background-image: url(/img/DSC05437.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    position: relative;
    padding-top: 31.94%;

    @include mq(sm){
        background-position: center;
        background-size: contain;
    }
    
}
.mv-about__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
font-size: 3rem;
    }
    @include mq(sm){
font-size: 2.5rem;
    }
    @include mq(m){
font-size: 2rem;
    }
}
.mv-menu{
    height: 463px;
    background-image: url(/img/DSC05491.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}
.mv-menu__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }
}

.mv-price{
    height: 463px;
    background-image: url(/img/caliculater.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}
.mv-price__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }
}
.mv-faq{
    height: 463px;
    background-image: url(/img/DSC06048.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}
.mv-faq__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }
}
.mv-news{
    height: 463px;
    background-image: url(/img/DSC05943.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}
.mv-news__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }
}
.mv-blog{
    height: 463px;
    background-image: url(/img/DSC06103.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}

.mv-blog__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }

}
.mv-recruit{
    height: 463px;
    background-image: url(/img/recruit.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    padding-top: 31.94%;
    @include mq(sm){
        height: 363px;
    }
    @include mq(m){
        height: 263px;
    }
}
.mv-recruit__title{
    font-family: Sacramento;
    font-size: 4rem;
    color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    line-height: 1.2;
    @include mq(md){
        font-size: 3rem;
            }
            @include mq(sm){
        font-size: 2.5rem;
            }
            @include mq(m){
        font-size: 2rem;
            }

}
