@use "global" as *;
.nav-links{
    text-align: center;
    margin-top: 123px;
}
.page-numbers{
    width: 26px;
    height: 26px;
    margin-right: 19px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6875;
    padding: 17px 20px;
    border: 1px solid #707070;
    transition: 0.3s;
    color: #333333;
    font-size: 0.875rem;
    font-family: Rounded Mplus 1c;
    line-height: 1.1666;
    letter-spacing: 0.1em;
    &.list{
        border: none;
        text-decoration: underline;
    }
    @include mq(sm){
        width: 18px;
        height: 18px;
        margin-right: 5px;
        padding: 13px 16px;
    
    }
    @media screen and (max-width:500px){
        width: 15px;
        height: 15px;
        margin-right: 5px;
        padding: 10px 13px;
        font-size: 0.6rem;
    }
    @include mq(m){
        width: 11px;
        height: 11px;
        margin-right: 5px;
        padding: 9px 10px;
    }
}
.page-numbers:hover {
    background-color:#707070;
    border:1px solid #707070 ;
    color: #fff;
  }
  
.dots{
    border: none;
  text-align: center;
}
.prev,
.next{
    border: none;
}
.nav-links a{
    width: 26px;
    height: 26px;
    margin-right: 19px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6875;
    padding: 17px 20px;
    transition: 0.3s;
    color: #333333;
    font-size: 0.875rem;
    font-family: Rounded Mplus 1c;
    line-height: 1.1666;
    letter-spacing: 0.1em;
    @include mq(sm){
        width: 18px;
        height: 18px;
        margin-right: 5px;
        padding: 13px 16px;
    
    }
    @media screen and (max-width:500px){
        width: 15px;
        height: 15px;
        margin-right: 5px;
        padding: 10px 13px;
        font-size: 0.6rem;
    }
    @include mq(m){
        width: 11px;
        height: 11px;
        margin-right: 5px;
        padding: 9px 10px;
    }

    &:hover{
        background-color:#707070;
        border:1px solid #707070 ;
        color: #fff;
    }
}